__pycache__/Debug.cpython-311.pyc
test.py
__pycache__/DQN_Agent.cpython-311.pyc
logs
/logs
__pycache__/DQN.cpython-311.pyc
__pycache__/DQN_Replay_Mem.cpython-311.pyc
__pycache__/DQN_Env.cpython-311.pyc
/hi.txt
/huh.pt
/test.py
/trasnaprent.py
/genetic.py
/main.py
/test.py
/transparent.py
/bestcomp.pt